<div class="row">
  <div class="large-12 columns">
    <form action="/add" method="post">
      <input type="text" name="title" placeholder="Title"/>
      <textarea name="content" rows="10" cols="30" placeholder="Content"></textarea>
      <button type="submit">Save</button>
    </form>
  </div>
</div>
