<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>

    
    <meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more." />
    
    <meta name="author" content="ZURB, inc. ZURB network also includes zurb.com" />
    <meta name="copyright" content="ZURB, inc. Copyright (c) 2013" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    

  <!-- Header and Nav -->

  <div class="row">
    <div class="large-12 columns">
      <h1 id="title">Blog</h1>
    </div>
  </div>

  <!-- End Header and Nav -->


  <!-- First Band (Image) -->

  <div id="main">
    {{>template}}
  </div>
  <!-- Second Band (Image Left with Text) -->

  <div id="modal" class="reveal-modal" data-reveal>
  </div>

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 columns">
          <p>&copy; Copyright 2014 Eduardo Sorribas</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
